.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
  background-color:  #588BAE;
  padding: 0px 0px 0px 0px;
}

.header h1 {
  text-align: center; 
  background-color: #588BAE;
  padding: 20px 0px 20px 0px;
  border-bottom: solid darkgrey;
}
 
p{
  padding: 0px 10px 0px 10px; 
}

.navbar-brand {
  text-align: center;
}

nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}

.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: darkgrey;
  height: 1px;
}

/* On small screens, set height to 'auto' for the grid */

You can change the collapse point in 3.1 like this..

@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}