.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
  background-color:  #588BAE;
  padding: 0px 0px 0px 0px;
}

.header h1 {
  text-align: center; 
  background-color: #588BAE;
  padding: 20px 0px 20px 0px;
  border-bottom: solid darkgrey;
}
 
p{
  padding: 0px 10px 0px 10px; 
}

.navbar-brand {
  text-align: center;
}

nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}

.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: darkgrey;
  height: 1px;
}

@media screen and (max-width: 600px) {
  nav[role="custom-dropdown"] {
    ul {
      display: none;
      height: 100%;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
    }

    label:after {
        position: absolute;
        content: "\2261";
    }
    
    input:checked ~ ul {
      display: block;
    
      > li {
        width: 100%;
      }        
    }
  }
}